* {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.menu__list {
  display: flex;
  gap: 30px;
}
.menu__link {
  color: #444;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 106.667% */
}
